<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- ICONOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

    <!-- CSS conection -->
    <link rel="stylesheet" href="./css/styles.css">
    
</head>

<body>
    <header>

        <div class="header-total">

            <section>
                <div class="logo-MELI">
                    
                    <a href="/home"> <img src="/images/logo-mercado-liebre.svg"> </a>
                </div>

                <div class="buscador">
                    <form action="busqueda">
                        <input type="text" placeholder="Buscar productos">
                        <i class="fas fa-search"></i>
                    </form>
                </div>

            </section>


            <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>


        </div>


        <nav>
            <ul class="opciones-left">
                <li> <a href="#"> Ofertas </a> </li>
                <li> <a href="#"> Tiendas Oficiales </a> </li>
                <li> <a href="#"> Vender </a> </li>
                <li> <a href="#"> Ayuda </a> </li>
            </ul>

            <ul class="opciones-right">
                <li> <a href="/registro"> Creá tu cuenta </a> <i class="far fa-id-card"></i> </li>
                <li> <a href="/login"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="#"> Mis compras </a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <img src="/images/img-home-banner.jpg" width="100%">

    <main>
        <div class="titulares">
            <h1> <strong>Basado en tu última visita </strong> </h1>
        </div>

        <div class="container">

            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="detalle-articulo">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="precio-descuento">
                        <h2> $6.770</h2>
                        <h3>40% OFF</h3>
                    </div>
                    <h4> Cafetera Moulinex </h4>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="detalle-articulo">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="precio-descuento">
                        <h2> $230.000</h2>
                        <h3>20% OFF</h3>
                    </div>
                    <h4> MacBook Pro 2019 </h4>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="detalle-articulo">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="precio-descuento">
                        <h2> $70.500</h2>
                        <h3>10% OFF</h3>
                    </div>
                    <h4> Samsung Galaxy S10 </h4>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="detalle-articulo">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="precio-descuento">
                        <h2> $23.500</h2>
                        <h3>5% OFF</h3>
                    </div>
                    <h4>SmartTv Samsung 43</h4>
                </div>
            </article>

        </div>


        <div class="titulares">
            <h1> <strong>Sección de Ofertas</strong> </h1>
        </div>

        <div class="container">

            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="detalle-articulo">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="precio-descuento">
                        <h2> $6.770</h2>
                        <h3>40% OFF</h3>
                    </div>
                    <h4> Cafetera Moulinex </h4>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="detalle-articulo">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="precio-descuento">
                        <h2> $230.000</h2>
                        <h3>20% OFF</h3>
                    </div>
                    <h4> MacBook Pro 2019 </h4>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="detalle-articulo">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="precio-descuento">
                        <h2> $70.500</h2>
                        <h3>10% OFF</h3>
                    </div>
                    <h4> Samsung Galaxy S10 </h4>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="detalle-articulo">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="precio-descuento">
                        <h2> $23.500</h2>
                        <h3>5% OFF</h3>
                    </div>
                    <h4>SmartTv Samsung 43</h4>
                </div>
            </article>
        </div>

    </main>

    <footer>

        <div class="display-horizontal-footer">
            <section>
                <div>
                    <i class="fas fa-credit-card"></i>
                    <h2> Pagá con tarjeta o en efectivo</h2>
                    <h3> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro! </h3>
                </div>
            </section>
    
            <section>
                <div>
                    <i class="fas fa-gift"></i>
                    <h2> Envío gratis desde $ 2.500 </h2>
                    <h3> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos. </h3>
                </div>
            </section>
    
            <section>
                <div>
                    <i class="fas fa-user-shield"></i>
                    <h2> Seguridad, de principio a fin </h2>
                    <h3> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@. </h3>
                </div>
            </section>
        </div>
    
            <div class="copyright">
                <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
            </div>

    </footer>
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>

</html>